// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MovingInTheCity-primary: mat-palette($mat-indigo);
$MovingInTheCity-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MovingInTheCity-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$MovingInTheCity-theme: mat-light-theme(
  $MovingInTheCity-primary,
  $MovingInTheCity-accent,
  $MovingInTheCity-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($MovingInTheCity-theme);

/* You can add global styles to this file, and also import other style files */
.w05 {
  width: 5%;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w75 {
  width: 75%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.mAuto {
  margin: auto;
}
.fas {
  font-size: 20px;
}
.pointer {
  cursor: pointer;
}
.componentBackground_darkMode {
  background: linear-gradient(to bottom, #dabde6, #c8a1d8, #5c2165) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
@mixin centerH {
  display: flex !important;
  justify-content: center;
}
.center {
  @include centerH();
  align-items: center;
}
.centerHorizontally {
  @include centerH();
}
